<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas</title>
   
</head>
<body>
    <h1>Listado de Citas</h1>
    <div class="container">
        
        
        <form id="dateForm">
          <label for="fecha">Filtrar por fecha:</label>
          <input type="date" id="fecha" name="fecha">
          <div class="btnmost">
            <input type="submit" value="Mostrar Citas">
         </div>
        </form>
      
        <div id="citasList"></div>
      </div>
     

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Servicio</th>
      <th>Horario</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Juan</td>
      <td>Limpieza</td>
      <td>09:00 AM</td>
    </tr>
    <tr>
      <td>María</td>
      <td>brakets</td>
      <td>10:30 AM</td>
    </tr>
    <tr>
      <td>Carlos</td>
      <td>brakets</td>
      <td>14:00 PM</td>
    </tr>
    <!-- Puedes agregar más filas aquí según sea necesario -->
  </tbody>
</table>
<br>
<div class="btngenrec">
    <input type="submit1" value="Generar Recordatorio">
</div>

</body>
</html>
