<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Servicio Dental</title>
<style>
  
</style>
</head>
<body>

<header>
  <h1>Servicio de Extracciones de muelas</h1>
  <p>/Extracciones de muelas</p>
</header>


<div class="container">
  <h4>La extracción de muelas del juicio es un procedimiento quirúrgico 
    para extraer una o más muelas del juicio —las cuatro piezas dentales 
    permanentes de los adultos ubicadas en los extremos posteriores de la boca, 
    tanto arriba como abajo</h4><br>
    <h3>¿Que hacer antes de una extraccion?</h3><br>
    <ul class="list">
        <li class="list-item"><i class="fas fa-tooth"></i> Evitar las bebidas alcohólicas dos días antes de la extracción.</li>
        <li class="list-item"><i class="fas fa-tooth"></i> No tomes comidas pesadas la noche previa y sigue una dieta equilibrada.</li>
        <li class="list-item"><i class="fas fa-tooth"></i> En caso de requerir sedación consciente, debe venir acompañado y no podrá conducir, horas después de la cirugía.</li>
        <li class="list-item"><i class="fas fa-tooth"></i> Si está tomando algún medicamento, debe informar a su odontólogo.</li>
      </ul>
    
    <img src="../../../../../assets/imgValeria/img/extrac.gif" class="imgextrac" width="300" height="300" alt="">
    <div class="feature">
      <h2>Nuestros tratamientos están diseñados para cubrir las necesidades específicas de cada paciente.</h2>
    </div>
   
  
</div>
</body>
</html>



