<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    
</head>
<body>

<div class="container">
    <h1>Perfil de Usuario</h1>
    <div class="profile-info">
        <img class="profile-pic" src="../../../../../assets/imgValeria/img/fondo.jpg" alt="Foto de perfil">
        <div class="profile-name">Nombre del Usuario</div>
        <div class="profile-email">correo@ejemplo.com</div>
    </div>
    <div class="profile-details">
        <div class="detail">
            <label>Edad:</label>
            <span>30 años</span>
        </div>
        <div class="detail">
            <label>Dirección:</label>
            <span>Calle Ejemplo, Ciudad, País</span>
        </div>
        <div class="detail">
            <label>Teléfono:</label>
            <span>+1234567890</span>
        </div>
        <div class="form-group" lin>
            <input type="submit"  (click)="logout()" value="Cerrar sesion" >
        </div>
        <!-- Agrega más detalles del perfil según sea necesario  -->
    </div>
</div>

</body>
</html>

