<div class="container">
  <h1 class="level-1 rectangle">Happysmile</h1>
  <ol class="level-2-wrapper">
    <li>
      <h2 class="level-2 rectangle">Todos perfiles</h2>
      <ol class="level-2-wrapper">
        <li>
          <h3 class="level-3 rectangle">Menu principal</h3>
          <h5 routerLink="/home" class="level-4 rectangle">Quienes Somos</h5>
          <h5 routerLink="/tratamientos" class="level-4 rectangle">Tratamientos</h5>
          <h5 routerLink="/descuentos" class="level-4 rectangle">Descuentos</h5>
          <h5 routerLink="/testimonios" class="level-4 rectangle">Testimonios</h5>
          <h5 routerLink="/contactanos" class="level-4 rectangle">Contactanos</h5>
        </li>
      </ol>
    </li>
    <li>
      <h2 class="level-2 rectangle">Perfil Cliente</h2>
      <ol class="level-2-wrapper">
        <li>
          <h3 class="level-3 rectangle">Menu Secundario</h3>
          <h5 class="level-3 rectangle">Inicio</h5>
          <h5 class="level-3 rectangle">Mis citas</h5>
          <h5 class="level-3 rectangle">Historial Medico</h5>
          <h5 class="level-3 rectangle">Mi perfil</h5>
          <h5 class="level-3 rectangle">Cerrar Sesion</h5>
        </li>
      </ol>
    </li>
    
    <li>
      <h2 class="level-2 rectangle">Perfil Secretaria</h2>
      <ol class="level-2-wrapper">
        
        <li>
          <h3 class="level-3 rectangle">Menu Secundario</h3>
          <h5 class="level-3 rectangle">Inicio</h5>
          <h5 class="level-3 rectangle">Agendar Citas de Cliente</h5>
          <h5 class="level-3 rectangle">Filtrado de Citas</h5>
        </li>
      </ol>
    </li>
    
  </ol>
</div>
