
    <!-- Inicio de Carousel  -->
     <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          
        </div>
        <a href="/home">/ Home</a>
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <img class="carrucel1 d-flex flex-column align-items-center justify-content-center"   src="../../../../../assets/imgValeria/img/carrusel1.jpg" alt="">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-2" style="max-width: 500px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">Bienvenido a Smile..</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">¿Estás listo para volver a sonreír?</h1>
                   <a href="\login" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Iniciar Sesion</a>
                    <a href="\registro" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Registrarme</a>
                    
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="carrucel1" src="../../../../../assets/imgValeria/img/carousel-2.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">Atrevete</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">A Cuidar tu Salud Bucal en la mejor Clinica</h1>
                    <a href="appointment.html" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Soy Cliente</a>
                    <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Registrarme</a>
                </div>
            </div>
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- Fin de Carousel  -->
    
    <!-- Inicio de la seccion conocenos -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title mb-4">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">¿Quienes Somos?</h5>
                        <h1 class="text-center">Somos la mejor Clinica Dental de la Region</h1>
                    </div>
                     <p class="text-break " >Trabajamos para que sea el mejor lugar para tu atención dental con instalaciones
                        cómodas y modernas,incorporando tecnología y servicios digitales,ademas de los profesionales 
                        mas calificados a tu disposición brindando el mejor servicio para ofrecerte resultados exitosos,ademas
                         de: </p>
                        
                    <div class="row g-3">
                        <div class="contenedormenu">
                            <ul>
                            <h5 class="text-left text-break"><i class="fa fa-check-circle text-primary me-3"></i>Material y equipo a la vanguardia</h5>
                            <h5 class="text-left text-break"><i class="fa fa-check-circle text-primary me-3"></i>Atencion Personalizada</h5>
                            <h5 class="text-right text-break"><i class="fa fa-check-circle text-primary me-3"></i>Urgencias 24/7 </h5>
                            <h5 class="text-right text-break"><i class="fa fa-check-circle text-primary me-3"></i>Precios Justos y a tu medida</h5>
                            </ul>
                             <p class="text-break ">Somos la mejor opción de atención dental en la ciudad de Dolores Hidalgo, conoce nuestras promociones, planes dentales, equipo de 
                            trabajo, tips de higiene bucal y no esperes más realiza tu cita con nosotros, nos dará mucho gusto el poder atenderte.</p>
                        </div>
                        
                        
                    </div>
                    <br>
                    <h1 class="meta text-center">Nuestra Meta como Dentistas</h1><br>
                        <div >
                        <p class="text-break ">Buscamos que todas las personas de la Region
                             tengan acceso a la salud dental mediante nuestros servicios, sin distinción 
                             , brindando consultas de valoración con descuento aplicado
                            y precios accesibles para que brindar más opciones de salud dental en la región. </p>
                        <img class="imgdoc"  src="../../../../../assets/imgValeria/img/distincion.jpg" alt="Image">
                        </div>
                </div>

              
                <div class="col-lg-7" style="min-height: 100px;">
                    <div class="position-relative h-100">
                        
                        <h1 class="text-center">Contamos con personal altamente capacitado</h1><br>
                        <p class="text-break">Un gran equipo de doctores profesionales te espera con un lugar equipado 
                            con tecnología radiográfica digital para que puedas transformar tu sonrisa con un servicio 
                            dental seguro y cómodo, todo en el mismo lugar y en la misma cita. </p>
                        <img class="imgdoc"  src="../../../../../assets/imgValeria/img/doc.jpg" alt="Image">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin del Contenido -->
    
    
    <div>
        <!-- horario Inicio -->
     

     <!-- horario Fin -->

    </div>

     <div>
        <div>
            <h1 class="ofertas">!!Ofertas exclusivas al registrarte con nosotros!!</h1>
        </div>
     </div>

    
    <!-- Offertas Inicio -->
    <div class="container-fluid bg-offer my-5 py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7 wow zoomIn" data-wow-delay="0.6s">
                    <div class="offer-text text-center rounded p-5">
                        
                        <h1 class="display-5 text-white">Registrate y obten descuentos exclusivo</h1>
                        <p class="text-white mb-4">Al registrarte obtendras grandes descuentos  y podras dar seguimiento a tus citas de manera rapida,
                                                    o bien puedes agendar tu cita desde esta pagina y obtener un 10% en tu primer cita </p>
                        <a href="appointment.html" class="btn btn-dark py-3 px-5 me-3">Registrarme</a>
                        <a href="descuentos" class="btn btn-light py-3 px-5">Ver descuentos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offertas Fin -->
 <!-- horario Inicio -->
 <div>
    <h2 class="formtithorario">Horario de Atencion</h2>
 </div>
    <div class="horario-form">
    <table>
        <thead>
            <tr>
                <th>Dia</th>
                <th>Horario</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lunes</td>
                <td class="center">8:00 am - 7:00 pm</td>
            </tr>
            <tr>
                <td>Martes</td>
                <td class="center">8:00 am - 7:00 pm</td>
            </tr>
            <tr>
                <td>Miercoles</td>
                <td class="center">8:00 am - 7:00 pm</td>
            </tr>
            <tr>
                <td>Jueves</td>
                <td class="center">8:00 am - 7:00 pm</td>
            </tr>
            <tr>
                <td>Viernes</td>
                <td class="center">8:00 am - 7:00 pm</td>
            </tr>
            <tr>
                <td>Sabado</td>
                <td class="center">9:00 am - 6:00 pm</td>
            </tr>
            <tr>
                <td>Domingo</td>
                <td class="center">Cerrado</td>
            </tr>
            <!-- Añade más filas según sea necesario -->
        </tbody>
    </table>

