<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Servicio Dental</title>
<style>
  
</style>
</head>
<body>

<header>
  <h1>Servicio de Extracciones</h1>
  <p>/Extracciones</p>
</header>


<div class="container">
  <h4>La extracción dental es el procedimiento que realiza el odontólogo para extraer un diente 
    de la encía. Este procedimiento se lleva a cabo cuando un diente no se puede recuperar, 
    teniendo en cuenta la situación la cavidad bucal de cada persona.</h4><br>
    <h3>¿Que debemos hacer antes de una extracción?</h3><br>
    <ul class="list">
        <li class="list-item"><i class="fas fa-tooth"></i> Evitar las bebidas alcohólicas dos días antes de la extracción.</li>
        <li class="list-item"><i class="fas fa-tooth"></i> Evita comidas pesadas la noche previa y trata de dormir para amanecer descansado/a.</li>
        <li class="list-item"><i class="fas fa-tooth"></i> En caso de requerir sedación consciente, debe venir acompañado y no podrá conducir, horas después de la cirugía.</li>
        <li class="list-item"><i class="fas fa-tooth"></i> Si está tomando algún medicamento, debe informar a su odontólogo.</li>
      </ul>
    
    <img src="../../../../../assets/imgValeria/img/extraccion.gif" class="imgextrac" width="300" height="300" alt="">
    <div class="feature">
      <h2>Nuestros tratamientos están diseñados para cubrir las necesidades específicas de cada paciente.</h2>
    </div>
   
  
</div>
</body>
</html>


