<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Servicio Dental</title>
<style>
  
</style>
</head>
<body>

<header>
  <h1>Servicio de Brackets</h1>
  <p>/Brackets</p>
</header>


<div class="container">
  <h4>Hasta hace unos años la palabra bracket sonaba muy extraña; pero ahora es de lo más 
    habitual y ya la hemos incluido en nuestro día a día. Los brackets son utilizados para 
    corregir malos posicionamientos dentales y alinear correctamente los dientes.</h4>
    <img src="../../../../../assets/imgValeria/img/brackets.gif" class="imgbrak" alt="Imagen">
    <h4>Estos brackets metálicos se componen de los siguientes elementos:
        Ligaduras: Son las piezas que ligan los brackets al arco y son las responsables de forzar y aplicar el movimiento de los dientes.
        Arco: Eje de unión para presionar las piezas dentales.
        Bracket: Es el punto responsable de marcar la dirección que queremos darle a los dientes.</h4>
  
    <div class="feature">
      <h2>Nuestros tratamientos están diseñados para cubrir las necesidades específicas de cada paciente.</h2>
    </div>
   
  
</div>



</body>
</html>

