
<div class="container w-75 mb-2 mt-3 rounded shadow">
    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>

    <div class="row">
        <div class="col sideLogo d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded"></div>
        <div class="col bg-white m-1 p-2 mh-100 rounded">
            <div class="text-center">
                <img src="../../../../../assets/logo-dental.png" class="upLogo" alt="happy_smile_logo" srcset />
                <h2 class="fw-bold text-center py-1">
                    Bienvenido a Happy Smile
                </h2>
            </div>

            <!-- Formulario del login -->
            <form class="mt-3 p-1 pt-2 position-relative">
                <div class="container-fluid">
                    <div class="mb-1">
                        <label for="nombre" class="form-label">Nombre </label>
                        <input type="nombre" class="form-control" id="nombre" name="identificador"
                             required="required" />
                    </div>
                    <div class="mb-1">
                        <label for="email" class="form-label">Correo electronico </label>
                        <input type="email" class="form-control" id="email" name="identificador"
                            required="required" />
                    </div>
                    <div class="mb-1">
                        <label for="numero" class="form-label">Numero de Celular </label>
                        <input type="numero" class="form-control" id="numero" name="identificador"
                            required="required" />
                    </div>

                    <div class="mb-1">
                        <label for="edad" class="form-label">Edad</label>
                        <input type="edad" class="form-control" id="edad" 
                            required="required" name="edad"/>
                    </div>
            
                    <div class="mb-1position-absolute bottom-0 start-0 end-0">
                        <button type="submit"
                            class="btn btn-color-local btn-lg btn-block w-100">
                            Iniciar sesión
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>