<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Servicio Dental</title>
<style>
  
</style>
</head>
<body>

<header>
  <h1>Servicios basicos para niñ@s</h1>
  <p>/Servicio niñ@s</p>
</header>


<div class="container">
  <h4>Es un error no preocuparnos de ello hasta que los niños son 
    bastante grandes y tienen dientes permanentes. Es necesario llevar
     a los niños al dentista desde muy temprana edad, puesto que existen 
     dentistas especializados en odontología pediátrica que saben exactamente 
     cómo tratarlos sin causarles ningún tipo de daño, trauma o miedo.</h4><br>
    <h3>¿Por qué es importante que los niños vayan al dentista?</h3><br>
    <ul class="list">
        <li class="list-item"><i class="fas fa-tooth"></i> Fomentar una buena salud bucal</li>
        <li class="list-item"><i class="fas fa-tooth"></i> Detección temprana de los problemas</li>
        <li class="list-item"><i class="fas fa-tooth"></i> Seguimiento de los dientes de leche</li>
        <li class="list-item"><i class="fas fa-tooth"></i> Entre otros</li>
      </ul>
      <h4>Ahora ya eres consciente de la importancia de llevar a los niños al dentista. 
        Eligenos como tu opcion somos especialistas en niños, y con una gran trayectoria</h4>
      
    <img src="../../../../../assets/imgValeria/img/nenes.gif" class="imgextrac" width="300" height="300" alt="">
    <div class="feature">
      <h2>Nuestros tratamientos están diseñados para cubrir las necesidades específicas de cada paciente.</h2>
    </div>
   
  
</div>
</body>
</html>




