<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Servicio Dental</title>
<style>
  
</style>
</head>
<body>

<header>
  <h1>Servicios de Emergencia</h1>
  <p>/Servicios Emergencia</p>
</header>


<div class="container">
  <h4>Puede ser la primera señal de un problema más grande y causar problemas dentales más graves si no se trata.
    Una emergencia dental puede ser un fuerte dolor dental, una lesión en la que se perdieron uno o varios dientes, o un adiente muy infectado. 
    Sin embargo, es importante acudir con nosotros antes de cualquier complicacion.
  </h4><br>
    <h3>Si se me rompe y se me cae un diente, ¿qué debo hacer antes de ir al dentista?</h3><br>
    <h4>Si se te cayeron uno o más dientes, debes ver a un dentista de inmediato. Puedes seguir 
        los siguientes pasos para salvar y preservar el diente:</h4>
    <ul class="list">
        <li class="list-item"><i class="fas fa-tooth"></i> Pon el diente en leche</li>
        <li class="list-item"><i class="fas fa-tooth"></i> Tapa el espacio de donde se salió el diente, con gasa, una bola de algodón o incluso con una bolsita de té</li>
        <li class="list-item"><i class="fas fa-tooth"></i> Para dientes fracturados o rotos, enjuaga y guarda las piezas, si es posible</li>
      </ul>
      <h4>Si tienes una emergencia dental,acude inmediatamente con nosotros te atenderemos sin previa cita</h4>
      
    <img src="../../../../../assets/imgValeria/img/emergencia.gif" class="imgextrac" width="300" height="300" alt="">
    <div class="feature">
      <h2>Nuestros tratamientos están diseñados para cubrir las necesidades específicas de cada paciente.</h2>
    </div>
   
  
</div>
</body>
</html>




