<div class="container">
    <h1 class="level-1 rectangle">Happysmile</h1>
    <ol class="level-2-wrapper">
      <li>
        <h2 class="level-2 rectangle">Pagina</h2>
        <ol class="level-3-wrapper">
            <li>
              <h3 class="level-3 rectangle">Menu Principal</h3>
              <ol class="level-4-wrapper">
                <li>
                  <h4 class="level-4 rectangle">Tratamientos</h4>
                </li>
                <li>
                  <h4 class="level-4 rectangle">Tratamientos</h4>
                </li>
                <li>
                  <h4 class="level-4 rectangle">Descuentos</h4> 
                </li>
                <li>
                  <h4 class="level-4 rectangle">Testimonios</h4>
                </li>
                <li>
                  <h4 class="level-4 rectangle">Contactanos</h4>
                </li>
              </ol>
            </li>
          </ol>
      </li>
      <li>
        <h2 class="level-1 rectangle">Cliente</
          h2>
        <ol class="level-2-wrapper">
          <li>
            <h3 class="level-4 rectangle">Menu principal</h3>
            <h4 class="level-4 rectangle">Tratamientos</h4>
            <h4 class="level-4 rectangle">Descuentos</h4>
            <h4 class="level-4 rectangle">Testimonios</h4>
            <h4 class="level-4 rectangle">Contactanos</h4>
          </li>
          <li>
            <h3 class="level-4 rectangle">Menu Secundario</h3>
            <h4 class="level-4 rectangle">Inicio</h4>
            <h4 class="level-4 rectangle">Mis citas</h4>
            <h4 class="level-4 rectangle">Historial Medico</h4>
            <h4 class="level-4 rectangle">Mi perfil</h4>
          </li>
        </ol>
      </li>
      
      <li>
        <h2 class="level-2 rectangle">Secretaria</h2>
        <ol class="level-3-wrapper">
            <li>
              <h3 class="level-3 rectangle">Menu Principal</h3>
              <ol class="level-4-wrapper">
                <li>
                  <h4 class="level-4 rectangle">Quienes Somos</h4>
                </li>
                <li>
                  <h4 class="level-4 rectangle">Tratamientos</h4>
                </li>
                <li>
                  <h4 class="level-4 rectangle">Descuentos</h4>
                </li>
                <li>
                  <h4 class="level-4 rectangle">Testimonios</h4>
                </li>
                <li>
                  <h4 class="level-4 rectangle">Contactanos</h4>
                </li>
              </ol>
            </li>
          </ol>
      </li>
    </ol>
</div>
