
<!-- Encabezado inicio -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Tratamientos</h1>
            <a href="/home">Home</a>
            <a class="migas">/ Tratamientos</a>
        </div>
    </div>
</div>
<!-- Encabezado Fin -->


<!-- Inicio del contenido -->

    <div class="container">
        <div class="row g-5">
            
                <div class="section-title bg-light rounded h-100 p-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">Servicios</h5>
                    <h1 class="display-6 mb-4">Contamos con diferentes servicios a tu medida</h1>
                    
                </div>
          
                <div  class="servicios col-lg-4 wow" >
                    <div  class="team-item">

                        <a href="\inf-brack"><img  class="img-fluid rounded-top w-100" src="../../../../../assets/imgValeria/img/servicio1.jpg"></a>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                        <h4  class="mb-2" >Colocación de Brackets</h4>
                        <p   class="text-primary mb-0" >Servicio avanzado</p>
                         
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 wow " data-wow-delay="0.3s">
                <div class="team-item">
                        <a href="\limdent"><img class="img-fluid rounded-top w-100" src="../../../../../assets/imgValeria/img/servicio2.jpg" alt=""></a>
                        <div  class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                        <h4 class="mb-2">Limpiezas Dentales</h4>
                        <p class="text-primary mb-0">Servicio Básico</p>
                        </div>
                </div>
            </div>
            <div class="col-lg-4 wow " data-wow-delay="0.6s">
                <div class="team-item">
                    
                    <a href="\extrac"><img class="img-fluid rounded-top w-100" src="../../../../../assets/imgValeria/img/servicio3.jpg" alt=""></a>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                        <h4 class="mb-2">Extracciones Dentales</h4>
                        <p class="text-primary mb-0">Servicios avanzados</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow " data-wow-delay="0.3s">
                <div class="team-item">
                    
                    <a href="\muelas"><img class="img-fluid rounded-top w-100" src="../../../../../assets/imgValeria/img/servicio4.jpg" alt=""></a>
                        <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                        </div>
                    
                    <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                        <h4 class="mb-2">Extracciones de muelas del juicio</h4>
                        <p class="text-primary mb-0">Servicio avanzado</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow " data-wow-delay="0.6s">
                <div class="team-item">
                    
                    <a href="\ninos"><img class="img-fluid rounded-top w-100" src="../../../../../assets/imgValeria/img/servicio5.jpg" alt=""></a>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                        <h4 class="mb-2">Atención infantil</h4>
                        <p class="text-primary mb-0">Servicios Basicos</p>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 wow " data-wow-delay="0.3s">
                <div class="team-item">
                    
                    <a href="\emergencia"><img class="img-fluid rounded-top w-100" src="../../../../../assets/imgValeria/img/servicio6.jpg" alt=""></a>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                            <h4 class="mb-2">Servicios de Emergencias</h4>
                            <p class="text-primary mb-0">Servicio Avanzado</p>
                        </div>
                </div>
            </div>
        </div>
    </div>

<!-- Team End -->



