.cuerpo{
    width: calc(100% - 5rem);
    margin-left: 2rem;
    transition: all .6s ease-in-out;
    background-color: transparent;
    padding: 2rem;
    margin-right: 2rem;
}

.cuerpo-extendido{
    width: calc(100% - 13.5625rem);
    margin-left: 13rem;
}

.cuerpo-medio{
    width: calc(100% - 2rem);
    margin-left: 2rem;
}