<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Servicio Dental</title>
<style>
  
</style>
</head>
<body>

<header>
  <h1>Servicio de Limpieza Dental</h1>
  <p>/Limpieza Dental</p>
</header>


<div class="container">
  <h4>Las limpiezas dentales profesionales deberían hacerse en el consultorio dental dos veces 
    al año, idealmente cada seis meses. Esta es la recomendación tanto para adultos como para niños, 
    para mantener la salud dental.</h4>
    <h3>¿Duele?</h3>
    
    <h4>Depende de el estado de tus encías, la cantidad de sarro acumulado y la sensibilidad 
        dental que tengas, la limpieza dental puede doler o pasar desapercibida, cuanto más 
        tiempo has pasado sin hacerte una más sarro se acumula, te recomendamos no dejar pasar 
        mucho tiempo entre una y otra , acude a nuestros servicios.</h4>
    <img src="../../../../../assets/imgValeria/img/limpieza.gif" class="imglim" width="300" height="300" alt="">
    <div class="feature">
      <h2>Nuestros tratamientos están diseñados para cubrir las necesidades específicas de cada paciente.</h2>
    </div>
   
  
</div>
</body>
</html>

