<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Encabezado Start -->


</head>
<body>
    <div class="container-fluid bg-primary py-5 hero-header mb-5 migaspan">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Contactanos</h1>
                <a href="/home">Home</a>
            <a href="/tratamientos">/ Tratamientos</a>
            <a href="/descuentos" >/ Descuentos</a>
            <a href="/testimonios">/ Testimonios</a>
            <a class="migas" >/ Contactanos</a>
                
            </div>
        </div>
    </div>
    <!-- Encabezado End -->
<div class="container">
    <h1>Contáctanos</h1>
    
    <div class="contact-info">
        <p>¡Estamos aquí para ayudarte! Si tienes alguna pregunta o deseas programar una cita, no dudes en contactarnos.</p>
        <p>Clínica Dental Happy Smile</p>
        <p>Dirección: Calle Principal Centro Dolores Hidalgo #123</p>
        <p>Teléfono: (452) 418-111-3372</p>
        <p>Correo Electrónico: happysmile@gmail.com</p>
    </div>
    
    <div class="contact-form">
        <h2>Envíanos un Mensaje</h2>
        <form action="#" method="post">
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="email" name="email" placeholder="Correo Electrónico" required>
            <textarea name="mensaje" placeholder="Mensaje" required></textarea>
            <input type="submit" value="Enviar Mensaje">
        </form>
    </div>
</div>
<div>
    <h2 class="formtithorario">Horario de Atencion</h2>
</div>
<div class="horario-form">
    <table>
        <thead>
            <tr>
                <th>Dia</th>
                <th>Horario</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lunes</td>
                <td class="center">8:00 am - 7:00 pm</td>
            </tr>
            <tr>
                <td>Martes</td>
                <td class="center">8:00 am - 7:00 pm</td>
            </tr>
            <tr>
                <td>Miercoles</td>
                <td class="center">8:00 am - 7:00 pm</td>
            </tr>
            <tr>
                <td>Jueves</td>
                <td class="center">8:00 am - 7:00 pm</td>
            </tr>
            <tr>
                <td>Viernes</td>
                <td class="center">8:00 am - 7:00 pm</td>
            </tr>
            <tr>
                <td>Sabado</td>
                <td class="center">9:00 am - 6:00 pm</td>
            </tr>
            <tr>
                <td>Domingo</td>
                <td class="center">Cerrado</td>
            </tr>
            <!-- Añade más filas según sea necesario -->
        </tbody>
    </table>
</div>

</body>
</html>
